.container {
    padding-top: 20px;
}

.container-button {
   width :95%;
}

.text-faded {
    font-size: small;
}

.description-text {
    font-size: small;
}

.landing-description {
    font-size: 18px !important;
    margin-bottom: 25px !important;
}

.footer-icon:hover {
    text-decoration: none;
}

section#about {
    padding: 30px 0;
}

.headshot {
    height: 345px;
    margin: auto;
}

.project-image {
    margin :auto;
    cursor: pointer;
}

.chart-image-text {
    margin: 10px 0 10px 0;
}

.about-description {
    font-size: 16px;
}

.info-viz-engineer {
    text-align: center;
}

.text-muted {
    font-size: small;
}

.description-section {
    height: 100%;
}

.main-title {
    font-style: italic;
}

.image-section {
    padding-top: 100px;
}

.about-section {
   text-align: left;
}

.care-to-improve-image-section {
    padding-right: 10px !important;
}
    
@media (max-width: 582px) {
    .button-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 670px) {
    .headshot {
        height: 320px;
    }

    .about-description {
        font-size: 13px;
    }
}

@media (max-width: 570px) {
    .headshot {
        height: 300px;
    }

    .about-description {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    .about-description {
        font-size: 11px;
    }
}

@media (max-width: 475px) {
    .about-description {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    .about-description {
        font-size: 10px;
    }
}

/* mobile responsiveness */

@media (max-width: 400px) {
    .text-muted {
        margin: 0 0 10px 10px;
    }
}
